*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(131, 92, 92);
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 450px;
    width: 100%;
}
.kvadrat {
width: 14px;
    height: 14px;
    background: #fff;
    margin: 0.5rem;
    cursor: pointer;
    transition: transform 0.4s linear;
}
.kvadrat.grow {
    transform: translate(1.5rem) scale(2) rotate(360deg);
}